pyTelegramBotAPI
pyrogram
tgcrypto
asyncio
DateTime
aiofiles
motor
dnspython
pymongo
umongo
psutil
python-arq
requests
aiohttp
pytube
telethon
wget
OpenCC
rich
glitch_this
NumPy
opencv-python-headless
Pillow
googletrans==3.1.0a0
speedtest-cli
youtube_dl
youtube_search
youtube-search-python
yt_dlp
